.repository
target
*.iml
*.ipr
*.iws
*.ids
*.log
*.tlog
*web/war
rpcPolicyManifest
logs
MANIFEST.MF
.classpath
.project
.settings
maven-eclipse.xml
.externalToolBuilders
settings.xml
.metadata
gwt-unitCache
atlassian-ide-plugin.xml
.idea
.m2
*/.gwt/*.*
reports/*.*

